@keyframes fadeIn {
    from {
        transform: translateX(35px);
        opacity: 0
    }
    to {
        transform: transformX(0);
        opacity: 1
    }
}

@keyframes joggle {
    0%, 50%, 100% {
        transform: translateX(0)
    }
    25%, 75% {
        transform: translateX(3px)
    }
}

@font-face {
    font-family: 'icomoon';
    src: url("/assets/themes/3-Jekyll/icon/icomoon.eot?-oxan25");
    src: url("/assets/themes/3-Jekyll/icon/icomoon.eot?#iefix-oxan25") format("embedded-opentype"), url("/assets/themes/3-Jekyll/icon/icomoon.woff?-oxan25") format("woff"), url("/assets/themes/3-Jekyll/icon/icomoon.ttf?-oxan25") format("truetype"), url("/assets/themes/3-Jekyll/icon/icomoon.svg?-oxan25#icomoon") format("svg");
    font-weight: normal;
    font-style: normal
}

.sidebar-social-icon:before, #search-box:before, .toc-link:before, .post-meta-span.date:before, .post-meta-span.tag:before, .post-meta-span.comment:before, .post blockquote:before, .post-share-icon:before, #menu-icons {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.toc-link:before {
    content: "\e600"
}

.post blockquote:before {
    content: "\e601"
}

.sidebar-social-icon.weibo:before, .post-share-icon.weibo:before {
    content: "\e602"
}

.post-share-icon.evernote:before {
    content: "\e603"
}

.post-meta-span.date:before {
    content: "\e014"
}

#search-box:before {
    content: "\e036"
}

.post-meta-span.comment:before {
    content: "\e076"
}

.post-meta-span.tag:before {
    content: "\e085"
}

#menu-icons:before {
    content: "\e094"
}

#menu-icons:after {
    content: "\e095"
}

.sidebar-social-icon.email:before {
    content: "\ea86"
}

.post-share-icon.twitter:before {
    content: "\ea91"
}

.sidebar-social-icon.twitter:before {
    content: "\ea93"
}

.sidebar-social-icon.feed:before {
    content: "\ea96"
}

.sidebar-social-icon.dribbble:before {
    content: "\eaa8"
}

.sidebar-social-icon.github:before {
    content: "\eab1"
}

.sidebar-social-icon.codepen:before {
    content: "\eae4"
}

*, *:before, *:after {
    box-sizing: border-box
}

html {
    height: 100%
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    color: #283444;
    font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    background: #F8F8F8;
    -webkit-font-smoothing: subpixel-antialiased;
    overflow: hidden
}

input, textarea, button {
    appearance: none
}

input::-moz-focus-inner, textarea::-moz-focus-inner, button::-moz-focus-inner {
    border: 0;
    padding: 0
}

#sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    width: 551px;
    background: linear-gradient(136deg, #C2E987, #309E85);
    overflow: hidden;
    transition: left 0.35s cubic-bezier(0.77, 0, 0.175, 1), transform 0.35s cubic-bezier(0.77, 0, 0.175, 1);
    user-select: none
}

#sidebar-left {
    float: left;
    width: 170px;
    height: 100%
}

#sidebar-right {
    float: left;
    width: 380px;
    height: 100%
}

#sidebar-avatar {
    display: block;
    width: 128px;
    margin: 4vh auto 1.5vh;
    border: 4px solid rgba(255, 255, 255, 0.75);
    border-radius: 50%;
    overflow: hidden
}

#sidebar-avatar-img {
    display: block;
    width: 100%
}

#sidebar-social {
    padding: 0 10px 3vh;
    text-align: center
}

.sidebar-social-icon {
    display: inline-block;
    margin: 0 1px;
    font-size: 22px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    outline: none;
    transition: color 0.15s linear
}

.sidebar-social-icon:hover {
    color: #FFF
}

#sidebar-tags {
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid rgba(255, 255, 255, 0.5)
}

.sidebar-tag {
    font-size: 17px;
    line-height: 50px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: color 0.15s linear, box-shadow 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    font-weight: bold;
}

.sidebar-tag:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: inset 6px 0 0 rgba(255, 255, 255, 0.5)
}

.sidebar-tag.active {
    color: #309E85;
    box-shadow: inset 170px 0 0 rgba(255, 255, 255, 0.5)
}

#search-box {
    position: relative;
    height: 64px;
    margin-bottom: 1px
}

#search-box:before {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: -1;
    font-size: 24px;
    line-height: 64px;
    color: rgba(255, 255, 255, 0.7)
}

#search-input {
    width: 100%;
    height: 100%;
    padding: 20px 45px 20px 15px;
    font-size: 18px;
    line-height: 24px;
    color: #FFF;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

#search-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7)
}

#search-input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
    opacity: 1
}

#search-input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
    opacity: 1
}

#search-input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7)
}

#toc {
    height: calc(100% - 65px);
    padding-top: 15px;
    background: rgba(255, 255, 255, 0.5);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

#toc:after {
    content: "";
    float: left;
    clear: both;
    width: 100%;
    height: 10px
}

#toc::-webkit-scrollbar {
    width: 3px
}

#toc::-webkit-scrollbar-thumb {
    background: #309E85
}

.toc-link {
    position: relative;
    float: left;
    clear: both;
    margin: 5px 0;
    padding: 0 15px 0 32px;
    font-size: 16px;
    line-height: 22px;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    color: #55606F;
    overflow: hidden;
    outline: none
}

.toc-link:before {
    position: absolute;
    top: 2px;
    left: 12px;
    z-index: 1;
    font-size: 18px;
    color: #309E85;
    transition: transform 0.15s linear
}

.toc-link:visited:before {
    color: #55606F
}

.toc-link:hover:before {
    animation: joggle 0.6s linear
}

#main {
    float: right;
    width: calc(100% - 551px);
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    transition: width 0.35s cubic-bezier(0.77, 0, 0.175, 1)
}

.container {
    max-width: 800px;
    width: 80%;
    margin: auto;
    padding: 0 10px
}

h2, h3, h4, h5, h6 {
    margin-top: 45px;
    margin-bottom: 15px;
    color: #283444
}

h1 + h2, h2 + h3, h3 + h4, h4 + h5, h5 + h6 {
    margin-top: 30px
}

.post {
    word-break: break-all;
    padding-top: 2em;
    font-size: 18px;
    line-height: 1.6;
    text-shadow: 1px 1px 0 #fff
}

.post-title {
    margin: 0 0 22.5px;
    font-size: 1.8em;
    color: #283444
}

.post-meta {
    font-size: 0.9em;
    color: #BCC1C4
}

.post-meta-span {
    margin-right: 1em
}

.post-meta-span.date:before {
    margin-right: 0.2em
}

.post-meta-span.tag:before {
    margin-right: 0.2em
}

.post-meta-span.comment:before {
    margin-right: 0.2em
}

.post a {
    word-break: break-all;
    text-decoration: none;
    color: #4e6584;
    outline: none
}

.post a:hover {
    color: #309E85
}

.post p, .post ul, .post ol {
    margin-top: 0;
    margin-bottom: 30px
}

.post ul, .post ol {
    padding-left: 1.5em
}

.post li {
    margin-bottom: 7.5px
}

.post li > ul, .post li > ol {
    margin-top: 7.5px;
    margin-bottom: 0
}

.post blockquote {
    position: relative;
    margin: 0 0 30px 2em;
    font-style: italic
}

.post blockquote:before {
    position: absolute;
    top: 0;
    left: -1.5em;
    z-index: 1;
    transform: rotate(180deg)
}

.post img {
    display: block;
    width: 100%;
    border: 4px solid #eee
}

.post pre code {
    font-size: 0.7em;
    line-height: 1.1;
}

.post code {
    font-family: "Droid Sans Mono", monospace;
    font-size: 0.9em
}

.post *:not(pre) > code {
    padding: 0 0.5em;
    background: rgba(0, 0, 0, 0.06);
    font-weight: 900;
    text-shadow: 0 0 0 #FFF;
    border-radius: 5px;
    margin: 0 0.5em;
}

.post pre {
    margin-top: 0;
    margin-bottom: 30px;
    padding: 1em;
    line-height: 1.3;
    background: #FDFDFD;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.post pre::-webkit-scrollbar {
    height: 7px
}

.post pre::-webkit-scrollbar-thumb {
    background: #BCC1C4
}

.post pre::-webkit-scrollbar-thumb:hover {
    background: #a1a8ac
}

.post hr {
    height: 0;
    margin: 60px 0;
    border: none;
    border-top: 1px solid #ebebeb
}

.post-share {
    margin: 2em 0;
    padding-top: 0.7em;
    padding-bottom: 0.6em;
    font-size: 28px;
    text-align: center;
    background: #f5f5f5
}

.post-share-icon {
    margin: 0 10px;
    text-decoration: none;
    color: #BCC1C4;
    transition: color 0.15s linear;
    outline: none
}

.post-share-icon:hover {
    color: #309E85
}

#disqus_thread > a {
    color: #309E85
}

.footer {
    margin-top: 50px;
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #BCC1C4
}

.footer-entry {
    margin: 0
}

.footer-entry > a {
    color: #939ba0;
    text-decoration: none;
    transition: color 0.15s linear;
    outline: none
}

.footer-entry > a:hover {
    color: #309E85
}

#menu {
    display: none;
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 30;
    width: 42px;
    height: 42px;
    padding: 0;
    background: transparent;
    border: none;
    border-radius: 2px;
    outline: none;
    overflow: hidden;
    cursor: pointer
}

#menu-icons {
    display: block;
    width: 200%;
    height: 42px;
    margin-left: -100%;
    font-size: 24px;
    line-height: 42px;
    color: #fff;
    background: linear-gradient(136deg, #C2E987, #309E85);
    overflow: hidden;
    transition: transform 0.35s cubic-bezier(0.77, 0, 0.175, 1)
}

#menu-icons:before {
    float: left;
    width: 50%
}

#menu-icons:after {
    float: left;
    width: 50%
}

#menu.open > #menu-icons {
    transform: translateX(50%)
}

#nprogress {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 3px
}

#nprogress > .bar {
    height: 100%;
    background: red
}

#not-found {
    height: 80vh;
    padding-top: 33vh;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 0 #fff
}

#not-found > h1 {
    margin: 0 0 0.75em
}

#home {
    padding-top: 3em;
    font-size: 24px;
    line-height: 1.8;
    text-align: center
}

#home > h1 {
    margin-bottom: 10px;
    font-size: 1.4em
}

#home > h1 + p {
    margin: 0 0 2.5em
}

#home > h2 {
    margin-bottom: 1em;
    font-size: 1em
}

#home > ul {
    margin: 0 0 100px;
    padding: 0;
    list-style: none
}

#home > ul > li {
    margin-bottom: 0.75em
}

#home a {
    position: relative;
    color: #4e6584;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
    outline: none
}

#home a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background: #309E85;
    transform: scaleX(0);
    transition: transform 0.5s ease
}

#home a:hover:after {
    transform: scaleX(1)
}

@media screen and (max-width: 767px) {
    #home {
        font-size: 17px
    }
}

@media screen and (max-width: 1280px) {
    #sidebar {
        left: -551px
    }

    #sidebar.open {
        transform: translateX(100%)
    }

    #main {
        width: 100%
    }

    #menu {
        display: block
    }

    .container {
        max-width: 720px;
        width: 100%
    }
}

@media screen and (max-width: 767px) {
    #sidebar {
        left: -100%;
        width: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        transition: transform 0.25s cubic-bezier(0.77, 0, 0.175, 1)
    }

    #sidebar-left, #sidebar-right {
        float: none;
        width: 100%;
        height: auto
    }

    #sidebar-avatar {
        margin: 20px auto 15px
    }

    #sidebar-tags {
        display: none
    }

    .sidebar-social-icon {
        margin: 0 2px;
        font-size: 26px
    }

    #search-box {
        height: 52px
    }

    #search-box:before {
        line-height: 52px
    }

    #search-input {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 32px
    }

    .post {
        padding-top: 20px;
        font-size: 16px;
        line-height: 1.5
    }

    .post p, .post ul, .post ol {
        margin-bottom: 24px
    }

    #menu {
        top: 0;
        right: 0;
        border-radius: 0 0 0 2px
    }

    #not-found {
        font-size: 16px
    }
}

.post table, th, td {
    border: 1px solid black;
    font-size: 0.8em;
}
