{% if site.author.twitter %}
  <a href="{{ site.author.twitter }}" class="sidebar-social-icon twitter" target="_blank"></a>
{% endif %}

{% if site.author.weibo %}
  <a href="{{ site.author.weibo }}" class="sidebar-social-icon weibo" target="_blank"></a>
{% endif %}

{% if site.author.github %}
  <a href="{{ site.author.github }}" class="sidebar-social-icon github" target="_blank"></a>
{% endif %}

{% if site.author.codepen %}
  <a href="{{ site.author.codepen }}" class="sidebar-social-icon codepen" target="_blank"></a>
{% endif %}

{% if site.author.dribbble %}
  <a href="{{ site.author.dribbble }}" class="sidebar-social-icon dribbble" target="_blank"></a>
{% endif %}

{% if site.author.email %}
  <a href="mailto:{{ site.author.email }}" class="sidebar-social-icon email"></a>
{% endif %}

