
<div class="header container-fluid text-center">
	<img class="img-circle" width="120px" src="/favicon.ico" alt="Author image" nopin="nopin">
	<h1><a href="/">{{ site.title }}</a></h1>
	<p>Thoughts, stories and ideas.</p>
	<a class="feeds tip" data-toggle="tooltip" title="" data-original-title="看我的微博" href="http://weibo.com/iamliangwei/home" target="_blank"><img src="http://www.sinaimg.cn/blog/developer/wiki/LOGO_48x48.png"/></a><a class="feeds tip" data-toggle="tooltip" title="" data-original-title="RSS订阅" href="{{ BASE_PATH }}{{ site.JB.atom_path }}" target="_blank"><img width="48px" src="{{ ASSET_PATH }}/images/rss3.png"/></a>
</div>