<div class="siderbar">
    {% for category in site.categories %}
      {% if page.categories.first == category[0] %}
      <h2>同类博文</h2>
      <ul id="{{ category[0] }}">
          {% assign pages_list = category[1] %}
          {% include JB/pages_list %}
      </ul>
      {% endif %}
    {% endfor %}

    <h2>文章分类</h2>
    <ul>
    {% assign categories_list = site.categories %}  
    {% for category in categories_list %} 
      <li><a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category[0] }}-ref">
        {{ category[0] | join: "/" }}
      </a></li>
    {% endfor %}
    </ul>

    <h2>时间归档</h2>
    <ul>
    {% assign posts_collate = site.posts %}
    {% for post in posts_collate  %}
      {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% capture this_month %}{{ post.date | date: "%m" }}{% endcapture %}
      {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
      {% capture next_month %}{{ post.previous.date | date: "%m" }}{% endcapture %}
    
      {% if forloop.first %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}#{{ this_year }}-ref">{{ this_year }}年{{ this_month }}月</a></li>
      {% endif %}
    
      {% if forloop.last %}
      {% else %}
        {% if this_year != next_year or this_month != next_month %}
          <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}#{{ next_year }}-ref">{{ next_year }}年{{ next_month }}月</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
    </ul>

    <h2>最近更新</h2>
    <ul>
    {% assign posts_collate = site.posts %}
    {% for post in site.posts | limit:20 %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>

    <h2>友情链接</h2>
    <ul>
    <li><a target="_blank" href="http://colaky.blog.163.com/">泡爸爸的日记</a></li>
    </ul>
</div> 