<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="baidu-site-verification" content="axLklBRb4C" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <!--[if lte IE 9]><meta http-equiv="refresh" content="0;url={{ "/ie.html" | prepend: site.baseurl }}"><![endif]-->

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" type="text/css" href="//fonts.useso.com/css?family=Open+Sans:400,400italic,600|Droid+Sans+Mono" rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ ASSET_PATH }}{{ "/css/main.css" }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/atom.xml" }}" />

  <script src="{{ ASSET_PATH }}{{ "/js/prefixfree.js" }}"></script>
</head>
